@import url("https://use.typekit.net/mzx8gth.css");
@keyframes rotate{
    0%{
        transform:rotate(3deg);
    }
    50%{
        transform:rotate(-3deg);
    }
    100%{
        transform:rotate(3deg);
    }
}
@keyframes rotateBack{
    0%{
        transform:rotate(-3deg);
    }
    50%{
        transform:rotate(3deg);
    }
    100%{
        transform:rotate(-3deg);
    }
}
@keyframes changeColor{
    0%{
        background-color:#c93838;
    }
    10%{
        background-color:#e5a22e;
    }
    20%{
        background-color:#e3cb15;
    }
    30%{
        background-color:#68c938;
    }
    40%{
        background-color:#38c974;
    }
    50%{
        background-color:#38c9c9;
    }
    60%{
        background-color:#3874c9;
    }
    70%{
        background-color:#3d38c9;
    }
    80%{
        background-color:#9638c9;
    }
    90%{
        background-color:#c9389e;
    }
    100%{
        background-color:#c9383a;
    }
}
@keyframes bobbing {
    0%, 100% {
      transform: translateY(0);
      box-shadow: rgba(0,0,0,50%)0px 5px 10px;
    }
    50% {
      transform: translateY(-10px);
      box-shadow: rgba(0,0,0,30%)0px 15px 20px;
    }
  }
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    height:100%;
}
main{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#host-main{
    font-family:'omnes-cyrillic-semicondensed';
    font-weight: 700;
    font-style: normal;
    animation: changeColor 100s linear infinite;
}
#client-main{
    background-image:url('../images/FlimFlamEpigram.svg');
    background-repeat: no-repeat;
    background-position:50% 5%;
    background-size:45vh;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:'omnes-cyrillic-semicondensed';
    font-weight: 700;
    font-style: normal;
}
#main-logo,#host-main-logo{
    background-image:url('../images/FlimFlamEpigram.svg');
    height:25%;
    width:90%;
    max-width:1000px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    margin-top:40px;
}
#host-main-logo{
    width:50%;
    animation:rotate 5s ease-in-out infinite;
}
#code-container{
    margin:20px;
    background-color:white;
    padding-right:10px;
    font-size:2em;
    padding-left:10px;
    border:5px solid black;
    border-radius:10px;
}
#code-container p{
    font-family:'jumble';
    text-align:center;
}
#game-code{
    font-size:2.1em;
    line-height:1em;
}
#gameID{
    text-transform: uppercase;
}
.player-token{
    height:4.5em;
    width:4.5em;
    border: 5px solid black;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:.7em;
    font-size: 1.5em;
    font-family: "omnes-cyrillic-semicondensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    box-shadow: rgba(0,0,0,50%)0px 5px 10px;
    flex-shrink:0;
    animation:bobbing 4s ease-in-out infinite;
}
.player-token p{
    filter: brightness(50%);
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}
.vote-token{
    height:3.5rem;
    width:3.5rem;
    border: 2px solid black;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:.7em;
    font-size: 1em;
    font-family: "omnes-cyrillic-semicondensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    flex-shrink:0;
}
.vote-token p{
    filter: brightness(50%);
    width: 100%;
    max-width:100%;
    word-wrap: break-word;
    text-align: center;
}
#vip-player{
    border-color:gold;
    background-image:url('../images/VipStar.svg');
    background-blend-mode:overlay;
    background-repeat: no-repeat;
}
#player-list{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
    align-items: center;
}
button{
    cursor:pointer;
}
button:active{
    filter:brightness(50%);
}
#join-game-form{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
}
#client-main input, #client-main button{
    font-size:2rem;
    padding:.5rem;
    border:1px solid black;
    border-radius:.5rem;
    width:90%;
    max-width:400px;
    min-width:5%;
    font-family:'omnes-cyrillic-semicondensed';
    font-weight: 900;
    font-style: normal;
}
#client-main label{
    font-size: 1.5rem;
    width: 90%;
    max-width: 400px;
    align-self: flex-start;
    margin: .5rem auto;
}
#client-main label, #client-main button{
    margin-top:1rem;
}
#welcome-message{
    padding:.5em;
    max-width:700px;
    text-align:center;
    text-wrap:balance;
    word-wrap:break-word;
}
#welcome{
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:50vh;
}
.vip-background{
    background-image: url('../images/VipStar.svg');
    background-size: 50%;
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    background-position: center;
}
#invalid-code{
    display:none;
    color:red;
    text-align: center;
    width:100%;
    font-size:1.5rem;
}
#name-taken{
    display:none;
    color:red;
    text-align: center;
    width:100%;
    font-size:1.5rem;
}
#answering{
    display:none;
    height:100%;
    padding:10px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
}
#answering-buttons{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items:center;
}
#answering #crutch-button{
    width: 50%;
    font-size: 1.2rem;
    position: absolute;
    bottom: 1em;
    max-width: 250px;
}
#prompt-container{
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top:0;
    padding: 1rem;
    width: 100%;
    filter:brightness(75%);
    user-select: none;
}
#prompt{
    color: white;
    text-align: center;
    position:absolute;
    top:0;
    font-size:1.5rem;
    padding:1rem;
    width: 100%;
}
.player-token.grey-out{
    filter: saturate(0%);
    animation: none;
}
#timer{
    display:none;
    font-size:4em;
    opacity:75%;
    position:absolute;
    bottom:1rem;
    right:1rem;
}
#challenge{
    display:none;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
#challenge #prompt{
    color: white;
    text-align: center;
    position:absolute;
    top:0;
    font-size:2.5rem;
    padding:1rem;
    width: 100%;
}
#challenge #prompt-container{
    font-size: 2.5rem;
    text-align: center;
    position: absolute;
    top:0;
    padding: 1rem;
    width: 100%;
    background-color:black;
    color:black;
    opacity:25%;
    user-select: none;
}
.response-text{
    font-size:1.8em;
}
#interactions{
    display: none;
    height:100%;
    padding:10px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
}
#voting{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#voting button{
    font-size:1.5em;
}
.response-card {
    background-color: white;
    height: 250px;
    width: 400px;
    margin: 2rem;
    border: 4px solid black;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    text-wrap:balance;
    text-overflow: ellipsis;
    word-wrap: break-word;
    position:relative;
}
#response1-card{
    margin-left:0;
}
#response2-card{
    margin-right:0;
}
.response-author {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    padding: 1rem;
}
#response1-author{
    left:0;
}
#response2-author{
    right:0;
    text-align: right;
}
.response-container{
    display:flex;
}
#response1{
    animation:rotate 8s ease-in-out infinite;
}
#response2{
    animation:rotateBack 8s ease-in-out infinite;
}
.response-votes{
    display:none;
    flex-direction: column;
}
#response1-votes{
    align-items: flex-start;
}
#response2-votes{
    align-items: flex-start;
}