@import url("https://use.typekit.net/mzx8gth.css");
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    height:100%;
}
main{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    animation: changeColor 100s linear infinite;
}
#main-logo{
    background-image:url('../images/FlimFlamEpigram.svg');
    height:25%;
    width:50%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    animation:rotate 5s ease-in-out infinite;
    margin-top:40px;
}
#code-container{
    margin:20px;
    background-color:white;
    padding-right:10px;
    font-size:2em;
    padding-left:10px;
    border:10px solid black;
    border-radius:10px;
}
#code-container p{
    font-family:'jumble';
    text-align:center;
}
#game-code{
    font-size:2.1em;
    line-height:1em;
}
#vip-player{
    color:gold;
}
@keyframes rotate{
    0%{
        transform:rotate(3deg);
    }
    50%{
        transform:rotate(-3deg);
    }
    100%{
        transform:rotate(3deg);
    }
}
@keyframes changeColor{
    0%{
        background-color:#c93838;
    }
    10%{
        background-color:#c99438;
    }
    20%{
        background-color:#c7c938;
    }
    30%{
        background-color:#68c938;
    }
    40%{
        background-color:#38c974;
    }
    50%{
        background-color:#38c9c9;
    }
    60%{
        background-color:#3874c9;
    }
    70%{
        background-color:#3d38c9;
    }
    80%{
        background-color:#9638c9;
    }
    90%{
        background-color:#c9389e;
    }
    100%{
        background-color:#c9383a;
    }
}