<!-- client.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Game Player</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io();

        function sendName() {
            var playerName = document.getElementById('playerName').value;
            var gameID = document.getElementById('gameID').value;
            socket.emit('register_player', { name: playerName, id: gameID });
        }

        function startGame(){
            socket.emit('start_game');
        }

        socket.on('vip', function(data) {
            var all_in = data.all_in
        });

        socket.on('min_reached',function(data) {
            document.getElementById('start-button').style.display='inline-block';
        })

        // Additional JavaScript for player interactions...
    </script>
</head>
<body>
    <input type="text" id="playerName" placeholder="Enter your name">
    <input type="text" id="gameID" placeholder="Game ID">
    <button onclick="sendName()">Join Game</button>
    <button id='start-button' onclick="startGame()" style="display:none">Start Game</button>
    <!-- Additional elements for player interactions -->
</body>
</html>