<!-- client.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Game Player</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" defer>
        var socket = io();
        var gameID
        var myPrompts
        var myCrutches
        var round_num = 0
        var myAnswers = []
        var challenge_responses = []
        var player_colors = {}

        function sendName() {
            var playerName = document.getElementById('playerName').value;
            gameID = document.getElementById('gameID').value;
            socket.emit('register_player', { name: playerName, id: gameID });
        }

        function startGame() {
            socket.emit('start_game', gameID);
        }

        function sendAnswers(answers, prompts) {
            socket.emit('answer', {'answers': answers,'prompts': prompts});
            document.getElementById('interactions').style.display = 'none';
        }

        function submitAnswer(response=document.getElementById('answer-prompt').value, crutch=false){
            myAnswers.push({'response':response,'crutch':crutch})
            document.getElementById('answer-prompt').value = ''
            if(myAnswers.length == 2){
                sendAnswers(myAnswers, myPrompts[round_num-1])
                myAnswers = []
            }
            else{
                document.getElementById('prompt').innerText = myPrompts[round_num-1][1]
                document.getElementById('prompt-container').innerText = myPrompts[round_num-1][1]
            }
        }
        function useCrutch(){
            submitAnswer(myCrutches.pop(),true) // using submitAnswer but removing and sending a crutch, and submitting as a crutch.
        }

        function sendVote(playerChoice){
            socket.emit('vote',challenge_responses[playerChoice])
        }

        socket.on('game_started',function(){
            console.log('Game has been started');
            document.getElementById('welcome').style.display = 'none';
            document.getElementById('client-main').style.backgroundImage = 'none';
        })

        socket.on('min_reached',function() {
            document.getElementById('start-button').style.display='inline-block';
        })

        socket.on('vip',function(){
            document.getElementById('welcome').classList.add('vip-background')
        })

        socket.on('color',function(data){
            document.getElementById('client-main').style.backgroundColor = data;
            document.getElementById('join-game-form').style.display = 'none';
            document.getElementById('welcome').style.backgroundColor = data;
            document.getElementById('welcome').style.display = 'flex';
            document.getElementById('welcome-message').innerText = `Welcome, ${playerName.value}! Do you see your name on the screen?`;
            document.getElementById('prompt-container').style.color = data;
            document.getElementById('prompt-container').style.backgroundColor = data;
        })

        socket.on('invalid_code',function(){
            document.getElementById('invalid-code').innerText = 'Invalid Code'
            document.getElementById('invalid-code').style.display = 'inline';
            document.getElementById('gameID').style.border = '2px solid red'
        })

        socket.on('game_full',function(){
            document.getElementById('invalid-code').innerText = 'Game Full'
            document.getElementById('invalid-code').style.display = 'inline';
            document.getElementById('gameID').style.border = '2px solid red'
        })

        socket.on('name_taken',function(){
            document.getElementById('name-taken').style.display = 'inline';
            document.getElementById('playerName').style.border = '2px solid red';
        })

        socket.on('new_prompts',function(data){
            myPrompts = data.myPrompts
            myCrutches = data.myCrutches
            console.log(myPrompts)
            console.log(myCrutches)
        })

        socket.on('all_players',function(data){
            for(var player in data){
                player_colors[player['name']] = player['color']
            }
        })

        socket.on('round',function(data){
            document.getElementById('interactions').style.display = 'flex';
            document.getElementById('answering').style.display = 'flex';
            document.getElementById('voting').style.display = 'none';
            round_num = data.number
            console.log(myPrompts)
            console.log(round_num)
            console.log(myPrompts[round_num-1][0])
            document.getElementById('prompt').innerText = myPrompts[round_num-1][0]
            document.getElementById('prompt-container').innerText = myPrompts[round_num-1][0]
        })

        socket.on('challenge',function(data){
            challenge_responses = []
            console.log(data)
            for(var player in data.responses){
                challenge_responses.push({'name':player,'prompt':data.prompt,'text':data['responses'][player]})
            }
            document.getElementById('prompt').innerText = `Vote:\n${data.prompt}`;
            document.getElementById('prompt-container').innerText = `Vote:\n${data.prompt}`;
            document.getElementById('interactions').style.display = 'flex';
            document.getElementById('answering').style.display = 'none';
            document.getElementById('voting').style.display = 'flex';
            document.getElementById('vote1').innerText = challenge_responses[0]['text'];
            document.getElementById('vote2').innerText = challenge_responses[1]['text'];
        })
        
        socket.on('challenge_wait',function(){
            document.getElementById('prompt').innerText = "You responded to this prompt. Please wait!";
            document.getElementById('prompt-container').innerText = "You responded to this prompt. Please wait!";
            document.getElementById('interactions').style.display = 'flex';
            document.getElementById('answering').style.display = 'none';
            document.getElementById('voting').style.display = 'none';
        })

        // Additional JavaScript for player interactions...
    </script>
</head>
<body>
    <main id="client-main">
        <div id="join-game-form">
            <label for="playerName">Enter your name: <span id="name-taken">Name Already Taken</span></label>
            <input type="text" id="playerName" autocomplete="off">
            <label for="playerName">Game Id: <span id="invalid-code">Invalid Code</span></label>
            <input type="text" id="gameID" autocomplete="off"/>
            <button onclick="sendName()">Join Game</button>
        </div>
        <div id="welcome">
            <h1 id="welcome-message"></h1>
            <button id='start-button' onclick="startGame()" style="display:none">Start Game</button>
        </div>
        <div id="interactions">
            <div id="prompt-container">
                prompt
            </div>
            <p id="prompt"></p>
            <div id="answering">
                <input id="answer-prompt" placeholder="Your response..."/>
                <div id="answering-buttons">
                    <button id="prompt-continue" onclick="submitAnswer()">continue</button>
                    <button id="crutch-button" onclick="useCrutch()">Use a crutch!</button>
                </div>
            </div>
            <div id="voting">
                <button id="vote1" onclick="sendVote(0)"></button>
                <button id="vote2" onclick="sendVote(1)"></button>
            </div>
        </div> 
    </main>
    <!-- Additional elements for player interactions -->
</body>
</html>