<!-- host.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Game Host</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/FlimFlamEpigram.svg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main id="host-main">
        <div id="host-main-logo"></div>
        <div id="code-container">
            <p>Game Code:</p>
            <p id="game-id"></p>
        </div>
        <div id='player-list'></div>
        <p id="timer"></p>
        <div id="challenge">
            <div id="prompt-container">
            </div>
            <p id="prompt">
            </p>
            <div id="response1" class="response-container">
                <div id="response1-votes" class="response-votes"></div>
                <div id="response1-card" class="response-card">
                    <p id="response1-text" class="response-text"></p>
                    <div id="response1-author" class="response-author"></div>
                </div>
            </div>
            <div id="response2" class="response-container">
                <div id="response2-votes" class="response-votes"></div>
                <div id="response2-card" class="response-card">
                    <p id="response2-text" class="response-text"></p>
                    <div id="response2-author" class="response-author"></div>
                </div>
            </div>
            <div id="leaderboard">
            </div>
        </div>
    </main>
    <!-- Additional elements for hosting the game -->
    <script type="text/javascript" defer>
        var socket = io();
        let player_colors = {}
        const timer_element = document.getElementById('timer');
        
        function requestGameId(){
            socket.emit('game_id_request')
        }

        requestGameId()
        socket.on('game_id', function(data) {
            document.getElementById('game-id').innerText=data.id
        });

        socket.on('instructions',function(data){
            document.getElementById('instructions').style.display = 'block'
        })

        socket.on('new_vip', function(){
            document.getElementById('player-list').removeChild(document.getElementById('player-list').firstChild)
            const newVip = Array.from(document.getElementsByClassName('player-token'))[0]
            newVip.id = "vip-player"
        })

        socket.on('player_disconnected',function(data){
            Array.from(document.getElementsByClassName(`TOKEN-${data.split(' ').join('-')}`))[0].remove()
        })

        socket.on('last_player_disconnected', function(){
            document.getElementById('player-list').innerHTML = '';
        })

        socket.on('new_player', function(data) {
            const newPlayer = document.createElement('div');
            const playerName = document.createElement('p')
            playerName.innerText = data.name;
            playerName.style.color=data.color;
            newPlayer.appendChild(playerName);
            newPlayer.classList.add('player-token');

            newPlayer.classList.add(`TOKEN-${data.name.split(' ').join('-')}`);
            if(data.vip){
                newPlayer.id = "vip-player"
            }
            newPlayer.style.backgroundColor=data.color
            document.getElementById('player-list').appendChild(newPlayer);
            var vip = data.vip
        });

        function sleep(s) {
            ms = s * 1000
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        socket.on('instructions',function(data){
            let wait = data.wait;
            console.log(`Listening to instructions for ${wait} seconds...`);
            // TODO: Some kind of waiting logic 
            sleep(wait) // wait for a bit
        })

        socket.on('all_players',function(data){
            console.log(data)
            data.forEach((player)=>{
                player_colors[player['name']] = player['color']
            })
        })

        let players_done
        socket.on('players_done',function(){
            players_done = true
        })

        socket.on('round',function(data){
            document.getElementById('player-list').style.display = 'flex';
            document.getElementById('challenge').style.display = 'none';
            document.getElementById('player-list').style.height = "100%";
            if(data.number == 1){
                document.getElementById('host-main-logo').style.display = 'none';
                document.getElementById('code-container').style.display = 'none';
            }
            Array.from(document.getElementsByClassName('player-token')).forEach((token)=>{
                token.classList.add('grey-out')
            })
            players_done = false
            let timer = 120
            timer_element.style.display = 'block';
            timer_element.innerText = timer
            const countdown = setInterval(()=>{
                timer -= 1
                timer_element.innerText = timer
                if(timer == 0 || players_done){
                    clearInterval(countdown)
                    Array.from(document.getElementsByClassName('player-token')).forEach((token)=>{
                        if(token.classList.contains('grey-out')){
                            token.classList.remove('grey-out')
                        }
                    })
                    socket.emit('client_input_done')
                    players_done = false
                }
            },1000)
        })

        socket.on('player_answer',function(data){
            Array.from(document.getElementsByClassName(`TOKEN-${data.name.split(' ').join('-')}`))[0].classList.remove('grey-out');
        })

        // dictionary[prompt][player_name] = {'answer': answer, 'crutch': crutch, 'votes': [player objects]} // dictionary structure for reference

        socket.on('answers',function(data){
            //data in this structure: dictionary = {'prompt': {'name': {'answer': answer, 'crutch': crutch, 'votes': [player objects]}}}
            document.getElementById('player-list').style.display = 'none';
            document.getElementById('challenge').style.display = 'flex';
            let timer = 20;
            timer_element.innerText = timer;
            let currentPrompts = []
            for(var prompt in data){
                currentPrompts.push(prompt)
            }
            running = false;
            let i = 0
            function doVoting(){
                document.getElementById('response1').style.display='flex';
                document.getElementById('response2').style.display='flex';
                document.getElementById('response1-votes').innerHTML = '';
                document.getElementById('response1-votes').style.display='none';
                document.getElementById('response2-votes').innerHTML = '';
                document.getElementById('response2-votes').style.display='none';
                document.getElementById('response1-author').innerText = ''
                document.getElementById('response2-author').innerText = ''
                console.log(currentPrompts.length, i)
                prompt = data[currentPrompts[i]]
                document.getElementById('prompt').innerText = currentPrompts[i]
                document.getElementById('prompt-container').innerText = currentPrompts[i]
                let theseResponses = []
                let authors = []
                for(var playerName in prompt){
                    theseResponses.push(prompt[playerName])
                    authors.push(playerName)
                }
                console.log(theseResponses)
                document.getElementById('response1-text').innerText = theseResponses[0]['answer']
                document.getElementById('response2-text').innerText = theseResponses[1]['answer']
                socket.emit('votes_needed', {'prompt': currentPrompts[i]}) // Once competing responses are displayed, start timer and ask for player votes
                const countdown = setInterval(()=>{
                    timer -= 1;
                    timer_element.innerText = timer;
                    if(timer == 0 || players_done){
                        clearInterval(countdown)
                        timer = 5
                        console.log(player_colors)
                        document.getElementById('response1-author').style.color = player_colors[authors[0]]
                        document.getElementById('response2-author').style.color = player_colors[authors[1]]
                        document.getElementById('response1-author').innerText = authors[0]
                        document.getElementById('response2-author').innerText = authors[1]
                        Array.from(document.getElementsByClassName('response-votes')).forEach((element)=>{
                            element.style.display = 'flex';
                        })
                        timer_element.innerText = ''
                        const showVotesCountdown = setInterval(()=>{
                            timer -= 1;
                            if(timer == 0){
                                clearInterval(showVotesCountdown)
                                timer = 20
                                players_done = false
                                if(i < currentPrompts.length-1){
                                    i++
                                    console.log("I'm calling myself now!", i)
                                    socket.emit('reset_votes')
                                    doVoting()
                                }
                                else{
                                    socket.emit('leaderboard_request')
                                }
                                running=false;
                            }
                        },1000)
                    }
                },1000)
            }
            doVoting()
        })

        socket.on('votes',function(data){
            data.winner
            data.submitter
            data.response
            let voteToken = document.createElement('div')
            voteToken.classList.add('vote-token')
            voteToken.style.backgroundColor = player_colors[data.submitter]
            voteToken.style.color = player_colors[data.submitter]
            let first_letter = document.createElement('p')
            first_letter.innerText = data.submitter[0]
            voteToken.appendChild(first_letter)
            if(data.response == document.getElementById('response1-text').innerText){
                document.getElementById('response1-votes').appendChild(voteToken)
            }else{
                document.getElementById('response2-votes').appendChild(voteToken)
            }
        })
        let winner = {}
        socket.on('leaderboard',function(data){
            document.getElementById('prompt').innerText = 'LEADERBOARD:';
            document.getElementById('prompt-container').innerText = 'LEADERBOARD:'
            document.getElementById('response1').style.display = 'none';
            document.getElementById('response2').style.display = 'none';
            winner = {}
            for(name in data.winner_name){
                winner[data.winner_name] = data.winner_score
            }
            for(var name in data.leaderboard){
                let slot = document.createElement('div')
                let slotToken = document.createElement('div')
                slot.classList.add('leaderboard-slot')
                slotToken.classList.add('player-token');
                slotToken.style.backgroundColor = player_colors[name];
                slotToken.style.color = player_colors[name];
                let score = document.createElement('p');
                score.innerText = data['leaderboard'][name]
                let playerName = document.createElement('h1');
                playerName.innerText = name;
                slotToken.appendChild(score);
                slot.appendChild(slotToken);
                slot.appendChild(playerName);
                document.getElementById('leaderboard').appendChild(slot)
            }
            document.getElementById('leaderboard').style.display = 'flex';
            let timer = 20
            timer_element.style.display='block';
            const leaderboard_timeout = setInterval(()=>{
                timer -= 1
                timer_element.innerText = timer
                if(timer == 0){
                    document.getElementById('leaderboard').innerHTML = '';
                    document.getElementById('leaderboard').style.display = 'none';
                    socket.emit('next_round')
                }
            },1000)
        })
        socket.on('end',function(data){
            document.getElementById('prompt').innerText = 'WINNER:';
            document.getElementById('prompt-container').innerText = 'WINNER:'
            let num = 0
            for(var name in winner){
                let slot = document.createElement('div')
                let slotToken = document.createElement('div')
                slot.classList.add('leaderboard-slot')
                slotToken.classList.add('player-token');
                slotToken.style.backgroundColor = player_colors[name];
                slotToken.style.color = player_colors[name];
                let score = document.createElement('p');
                score.innerText = data[name]
                let playerName = document.createElement('h1');
                playerName.innerText = name;
                slotToken.appendChild(score);
                slot.appendChild(slotToken);
                slot.appendChild(playerName);
                document.getElementById('leaderboard').appendChild(slot)
                num += 1
            }
            if(num > 1){
                document.getElementById('prompt').innerText = 'WINNERS:';
                document.getElementById('prompt-container').innerText = 'WINNERS:'
            }
        })
        // Additional JavaScript for managing game state...
    </script>
</body>
</html>