<!-- host.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Game Host</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/FlimFlamEpigram.svg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" defer>
        var socket = io();
        
        function requestGameId(){
            socket.emit('game_id_request')
        }

        requestGameId()
        socket.on('game_id', function(data) {
            document.getElementById('game-id').innerText=data.id
        });

        socket.on('instructions',function(data){
            document.getElementById('instructions').style.display = 'block'
        })

        socket.on('new_vip', function(){
            document.getElementById('player-list').removeChild(document.getElementById('player-list').firstChild)
            const newVip = Array.from(document.getElementsByClassName('player-token'))[0]
            newVip.id = "vip-player"
        })

        socket.on('last_player_disconnected', function(){
            document.getElementById('player-list').innerHTML = '';
        })

        socket.on('new_player', function(data) {
            const newPlayer = document.createElement('div');
            const playerName = document.createElement('p')
            playerName.innerText = data.name;
            playerName.style.color=data.color;
            newPlayer.appendChild(playerName)
            newPlayer.classList.add('player-token')
            if(data.vip){
                newPlayer.id = "vip-player"
            }
            newPlayer.style.backgroundColor=data.color
            document.getElementById('player-list').appendChild(newPlayer);
            var vip = data.vip
            // alert(data.id);  // For example, alerting the received message
            // You can also update the DOM based on the received data
        });

        // Additional JavaScript for managing game state...
    </script>
</head>
<body>
    <main id="host-main">
        <div id="host-main-logo"></div>
        <div id="code-container">
            <p>Game Code:</p>
            <p id="game-id"></p>
        </div>
        <div id='player-list'></div>
        <div id='instructions' style='display:none'>These are the instructions</div>
    </main>
    <!-- Additional elements for hosting the game -->
</body>
</html>