<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flim Flam Epigram</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <main>
        <div id="main-logo"></div>
        <div id="code-container">
            <p>Game Code:</p>
            <p id="game-code">
                ABCD
            </p>
        </div>
    </main>
    <script>

    </script>
</body>
</html>